{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>History</h2>
    <table id="history-table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Status</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr>
                <td>{{item.url}}</td>
                <td>{{item.status}}</td>
                <td>{{item.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 